.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowDown {
    color: red;
}

.screenName {
    text-align: center;
    font-size: 0.7rem;
    margin: 1rem auto;
    text-transform: uppercase;
    font-weight: 500;
}

.linkStd {
    color: red;
    text-decoration: none;
    font-size: 0.6rem;
}

.containerRestaurant {
    display: flex;
    gap: 0.8rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.restaurantName {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: -0.3rem;
}

.containerRestaurant a{
    font-weight: 600;
}

.logoRestaurant {
    height: 1.8rem;
    border-radius: 100px;
}

.listContainer {
    margin-bottom: 1rem;
}

.listTitle {
    text-align: start;
    font-size: 0.8rem;
    margin: 1rem 0;
    font-weight: 600;
}

.foodImage {
    width: 15%;
    border-radius: 4px;
    object-fit: fill;
    min-width: 50px;
    min-height: 50px;
}

.itemName {
    font-size: 0.5rem;
    font-weight: 600;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem auto;
}

.listItemName {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.listName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;
}

.listDescription {
    font-size: 0.5rem;
}

.listPrice {
    font-size: 0.7rem;
    font-weight: 700;
}

.amountProduct {
    display: flex;
    gap: 0.7rem;
    background-color: #E5E5E5;
    border-radius: 4px;
    align-items: center;
}
.amountProduct p {
    font-size: 0.5rem;
    font-weight: 600;
}

.amountProduct button {
    width: 1rem;
    border: none;
    background-color: transparent;
    color: red;
}

hr {
    border-color: #f8f8ff20;
    background-color: #f8f8ff;
}

.listPriceItem {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.listPriceCategory {
    font-size: 0.6rem;
}

.listPriceTotal {
    text-align: start;
    font-size: 0.8rem;
    margin: 0.8rem 0 0 0;
    font-weight: 600;
}

.finalOrder {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-top: 1rem;
}

.finalOrder button {
    border: none;
    background-color: red;
    color: #ffffff;
    font-size: 0.6rem;
    width: 50%;
    border-radius: 6px;
    padding: 0.6rem;
}